body {
  background-color: aliceblue;
  margin: 0px;
}

/* SETTING UP THE GRID */
.layout-controller {
  display: grid;
  gap: 2px 2px;
}

.header {
  background-color: aliceblue;
  grid-area: header;
}

.component-menu-button-mobile {
  background-color: rgb(219, 219, 219);
  grid-area: component-menu-button-mobile;
}

#hamburger-menu-button {
  width: 100%;
}

.component-menu-mobile {
  background-color: rgb(170, 170, 170);
  grid-area: component-menu-mobile;
}

.component-menu-desktop {
  background-color: rgb(216, 237, 255);
  grid-area: component-menu-desktop;
}

.content {
  background-color: rgb(205, 232, 255);
  grid-area: content;
}

.footer {
  background-color: rgb(176, 218, 255);
  grid-area: footer;
}

/* mobile portrait */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .layout-controller {
    grid-template-columns: 1fr 3rem;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header component-menu-button-mobile"
      "component-menu-mobile component-menu-mobile"
      "content content"
      "footer footer";
  }

  .component-menu-desktop {
    display: none;
  }
}

/* mobile landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .layout-controller {
    grid-template-columns: 1fr 10%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header component-menu-button-mobile"
      "component-menu-mobile component-menu-mobile"
      "content content"
      "footer footer";
  }

  .component-menu-desktop {
    display: none;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .layout-controller {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header header header"
      "component-menu-desktop content content"
      "footer footer footer";
  }

  .component-menu-button-mobile {
    display: none;
  }

  .component-menu-mobile {
    display: none;
  }
}

/* desktop */
@media only screen and (min-width: 980px) {
  .layout-controller {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
      "header header header header"
      "component-menu-desktop content content content"
      "footer footer footer footer";
  }

  .header-menu {
    /* display: block; */
    color: inherit;
  }

  .component-menu-button-mobile {
    display: none;
  }

  .component-menu-mobile {
    display: none;
  }
}

/* BODY STYLE */

/* header and header menu style */
.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  background-color: rgb(204, 204, 204);
}

.header-logo {
  padding: 0.25rem;

  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.header-menu {
  padding: 0.25rem;

  /* display: block; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.header-menu-list {
  color: inherit;

  margin: 0.5rem 0rem;
}

.header-menu-list-item {
  display: inline;
}

.header-menu-list-item a {
  color: purple;
  padding: 0rem 0.5rem;

  transition: ease-in-out 500ms;
}

.header-menu-list-item a:hover {
  color: red;

  transition: ease-in-out 500ms;
}

/* hamburger menu style */

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
