/* root colors */
:root {
  --primary-light: #c170d1;
  --primary: #bc5bcf;
  --primary-dark: #983daa;
  --primary-text: #4f005f;

  --median-light: #ab9eff;
  --median: #8e7dff;
  --median-dark: #6f5fda;
  --median-text: #100079;

  --secondary-light: #23e3f8;
  --secondary: #00bacf;
  --secondary-dark: #0191a1;
  --secondary-text: #005058;

  --warning-light: #ffb235;
  --warning: #f39c12;
  --warning-dark: #dd8b08;
  --warning-text: #6e4400;

  --danger-light: #ff4f3b;
  --danger: #e74c3c;
  --danger-dark: #c93a2a;
  --danger-text: #6d0b00;

  /* color variations */
  --black: #2c3e50;
  --black-100: #5e6b79;
  --black-300: #43515f;
  --black-500: #2c3e50;
  --black-700: #33404d;
  --black-900: #222930;

  --blue: #3498db;
  --blue-100: #90cbf3;
  --blue-300: #5db1e9;
  --blue-500: #3498db;
  --blue-700: #1e84c9;
  --blue-900: #0a6bac;

  --gray: #7f8c8d;
  --gray-100: #cfcfcf;
  --gray-300: #b3b3b3;
  --gray-500: #7f8c8d;
  --gray-700: #727272;
  --gray-900: #535353;

  --green: #2ecc71;
  --green-100: #65faa3;
  --green-300: #46e287;
  --green-500: #2ecc71;
  --green-700: #19b85b;
  --green-900: #06a046;

  --purple: #8e44ad;
  --purple-100: #cc7cee;
  --purple-300: #af64cf;
  --purple-500: #8e44ad;
  --purple-700: #762a97;
  --purple-900: #5c1879;

  --red: #e74c3c;
  --red-100: #ff8274;
  --red-300: #f16b5c;
  --red-500: #e74c3c;
  --red-700: #d63422;
  --red-900: #be200f;

  --white: #eeeeee;
  --white-100: #fafafa;
  --white-300: #f3f3f3;
  --white-500: #eeeeee;
  --white-700: #e4e4e4;
  --white-900: #dddddd;

  --yellow: #f1c40f;
  --yellow-100: #ecd36f;
  --yellow-300: #f1cf47;
  --yellow-500: #f1c40f;
  --yellow-700: #dbb107;
  --yellow-900: #c59e00;
}

body {
  background-color: aliceblue;
  margin: 0px;

  /* body text */
  font-family: "Roboto Slab", serif;

  /* lead text - cursive */
  /* font-family: 'Caveat', cursive; */

  /* hea`ngs */
  /* font-family: 'Roboto Mono', monospace; */
}

/* Background transition */
@-webkit-keyframes bg-transition {
  0% {
    background: linear-gradient(
      to top right,
      var(--primary) 20%,
      var(--median) 60%,
      var(--secondary) 100%
    );
  }
  25% {
    background: linear-gradient(
      to top right,
      var(--primary) 15%,
      var(--median) 55%,
      var(--secondary) 95%
    );
  }
  50% {
    background: linear-gradient(
      to top right,
      var(--primary) 10%,
      var(--median) 50%,
      var(--secondary) 90%
    );
  }
  75% {
    background: linear-gradient(
      to top right,
      var(--primary) 5%,
      var(--median) 45%,
      var(--secondary) 85%
    );
  }
  100% {
    background: linear-gradient(
      to top right,
      var(--primary) 0%,
      var(--median) 40%,
      var(--secondary) 80%
    );
  }
}

@keyframes bg-transition {
  0% {
    background: linear-gradient(
      to top right,
      var(--primary) 20%,
      var(--median) 60%,
      var(--secondary) 100%
    );
  }
  25% {
    background: linear-gradient(
      to top right,
      var(--primary) 15%,
      var(--median) 55%,
      var(--secondary) 95%
    );
  }
  50% {
    background: linear-gradient(
      to top right,
      var(--primary) 10%,
      var(--median) 50%,
      var(--secondary) 90%
    );
  }
  75% {
    background: linear-gradient(
      to top right,
      var(--primary) 5%,
      var(--median) 45%,
      var(--secondary) 85%
    );
  }
  100% {
    background: linear-gradient(
      to top right,
      var(--primary) 0%,
      var(--median) 40%,
      var(--secondary) 80%
    );
  }
}

.gradient {
  position: relative;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: bg-transition;
  animation-name: bg-transition;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* palette text color animation */

.color-palette-shade {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: palette-font-color-animation;
  animation-name: palette-font-color-animation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes palette-font-color-animation {
  0% {
    color: #dddddd;
  }
  50% {
    color: #888888;
  }
  100% {
    color: #333333;
  }
}

@keyframes palette-font-color-animation {
  0% {
    color: #dddddd;
  }
  50% {
    color: #888888;
  }
  100% {
    color: #333333;
  }
}

/* generic animations */

.puff-out {
  -webkit-animation: puff-out 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: puff-out 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes puff-out {
  0% {
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out {
  0% {
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.focus-in {
  -webkit-animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.animation-flicker-in {
  -webkit-animation: flicker-in 2s linear both;
  animation: flicker-in 2s linear both;
}

@-webkit-keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* SETTING UP THE GRID */
.layout-controller {
  display: grid;
  gap: 2px 2px;
}

.header {
  background-color: aliceblue;
  grid-area: header;
}

.component-menu-button-mobile {
  background-color: rgba(219, 219, 219, 0.25);
  grid-area: component-menu-button-mobile;
}

#hamburger-menu-button {
  width: 100%;
}

.component-menu-mobile {
  background-color: rgba(170, 170, 170, 0.25);
  grid-area: component-menu-mobile;
}

.component-menu-desktop {
  background-color: rgba(216, 237, 255, 0.25);
  grid-area: component-menu-desktop;
}

.content {
  background-color: rgba(205, 232, 255, 0.25);
  grid-area: content;
}

.footer {
  background-color: rgba(176, 218, 255, 0.25);
  grid-area: footer;
}

/* BODY STYLE */

/* header and header menu style */
.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  background-color: rgba(0, 0, 0, 0.75);
}

.header-logo {
  padding: 0.25rem;

  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.header-logo > img {
  height: 3rem;
  padding: 0.25rem 2rem;
}

.header-menu {
  padding: 1rem;

  /* display: block; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.header-menu-list {
  color: inherit;

  margin: 0.5rem 0rem;
}

.header-menu-list-item {
  display: inline;

  padding: 0rem 1rem;
}

.header-menu-list-item a {
  color: aliceblue;
  padding: 0rem 0.5rem;

  font-family: "Caveat", cursive;
  font-size: 2rem;
  text-decoration: none;

  transition: ease-in-out 500ms;
}

.header-menu-list-item a:visited {
  color: aliceblue;

  transition: ease-in-out 500ms;
}

.header-menu-list-item a:hover {
  color: rgb(98, 179, 250);

  transition: ease-in-out 500ms;
}

/* hamburger menu style */

.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* CSS RESET + HELPER CLASSES */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.section .row {
  justify-content: space-around;
}

.row {
  /* padding: 5px; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.section-heading {
  border: 5px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 1rem;
}

.column {
  /* padding: 5px; */

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.column-5 {
  /* width: 97%; */
  align-items: stretch;
  align-content: stretch;
}

.column-4 {
  /* width: 77%; */
  align-items: stretch;
  align-content: stretch;
}

.column-3 {
  /* width: 57%; */
  align-items: stretch;
  align-content: stretch;
}

.column-2 {
  /* width: 37%; */
  align-items: stretch;
  align-content: stretch;
}

.column-1 {
  /* width: 17%; */
  align-items: stretch;
  align-content: stretch;
}

/* COMPONENTS */

/* - Typography */

/* -- Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0rem;

  /* headings */
  font-family: "Roboto Mono", monospace;
}

h1.page-title {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  color: rgb(56, 55, 55);
}

h2.section-title {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  color: rgb(77, 77, 77);
}

h3.section-title {
  font-size: 1.75rem;
  text-decoration: underline;
  text-align: center;
  color: rgb(77, 77, 77);
}

p.lead-text {
  /* lead text - cursive */
  font-family: "Caveat", cursive;

  font-size: 1.5rem;
  text-align: center;

  justify-self: center;

  margin: auto;

  width: 100%;
}

/* lists */
ul.list-unordered {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-unordered > .list-item {
  position: relative;

  padding: 0.25rem 0.1rem;
}

ol.list-ordered {
  list-style-type: decimal;

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ordered > .list-item {
  position: relative;
  left: 1.25rem;

  padding: 0.25rem 0.1rem;
  text-decoration: none;
}

/* alerts */

.alert {
  font-weight: 500;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  border: 2px solid var(--black);
  border-radius: 5px;
  background-color: var(--gray-100);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  -webkit-animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.alert.alert-primary {
  border-color: var(--primary-dark);
  background-color: var(--primary-light);

  color: var(--primary-text);
}

.alert.alert-median {
  border-color: var(--median-dark);
  background-color: var(--median-light);

  color: var(--median-text);
}

.alert.alert-secondary {
  border-color: var(--secondary-dark);
  background-color: var(--secondary-light);

  color: var(--secondary-text);
}

.alert.alert-warning {
  border-color: var(--warning-dark);
  background-color: var(--warning-light);

  color: var(--warning-text);
}

.alert.alert-danger {
  border-color: var(--danger-dark);
  background-color: var(--danger-light);

  color: var(--danger-text);
}

/* .alert-text {
  font-weight: 500;
} */

.alert-close-button {
  border-radius: 5px;
}

/* padding classes */

pad-5 {
  padding: 5px;
}

pad-10 {
  padding: 10px;
}

pad-15 {
  padding: 15px;
}

pad-20 {
  padding: 20px;
}

pad-25 {
  padding: 25px;
}

pad-tb-5 {
  padding: 5px 0px;
}

pad-tb-10 {
  padding: 10px 0px;
}

pad-tb-15 {
  padding: 15px 0px;
}

pad-tb-20 {
  padding: 20px 0px;
}

pad-tb-25 {
  padding: 25px 0px;
}

pad-rl-5 {
  padding: 0px 5px;
}

pad-rl-10 {
  padding: 0px 10px;
}

pad-rl-15 {
  padding: 0px 15px;
}

pad-rl-20 {
  padding: 0px 20px;
}

pad-rl-25 {
  padding: 0px 25px;
}

/* alignment classes */
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

/* color palette array */
.color-palette-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));

  gap: 1rem 1rem;
}

.color-palette-container .color-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.color-palette-shade {
  padding: 15px 10px;
  margin: 5px 0px;
  font-size: 0.9rem;
  color: var(--white);

  text-align: center;
}

.color-palette-shade:hover {
  color: var(--black);
}

/* MEDIA QUERIES */
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .layout-controller {
    grid-template-columns: 1fr 4rem;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header component-menu-button-mobile"
      "component-menu-mobile component-menu-mobile"
      "content content"
      "footer footer";
  }

  .component-menu-desktop {
    display: none;
  }

  .column-5 {
    width: 100%;
  }

  .column-4 {
    width: 100%;
  }

  .column-3 {
    width: 100%;
  }

  .column-2 {
    width: 100%;
  }

  .column-1 {
    width: 100%;
  }

  .header-logo > img {
    height: 2rem;
  }

  .header-menu-list-item a {
    padding: 0rem 0.5rem;
    font-size: 1.25rem;
  }

  p.lead-text {
    width: 90%;
  }
}

/* mobile landscape */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {
  .layout-controller {
    grid-template-columns: 1fr 4rem;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "header component-menu-button-mobile"
      "component-menu-mobile component-menu-mobile"
      "content content"
      "footer footer";
  }

  .component-menu-desktop {
    display: none;
  }

  .column-5 {
    width: 100%;
  }

  .column-4 {
    width: 100%;
  }

  .column-3 {
    width: 100%;
  }

  .column-2 {
    width: 100%;
  }

  .column-1 {
    width: 100%;
  }

  .header-logo > img {
    height: 2rem;
  }

  .header-menu-list-item a {
    padding: 0rem 0.5rem;
    font-size: 1.25rem;
  }

  p.lead-text {
    width: 90%;
  }
} */

/* tablet */
@media only screen and (min-width: 480px) and (max-width: 979px) {
  .layout-controller {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header header header"
      "component-menu-desktop content content"
      "footer footer footer";
  }

  .component-menu-button-mobile {
    display: none;
  }

  .component-menu-mobile {
    display: none;
  }

  .column-5 {
    width: 95%;
  }

  .column-4 {
    width: 95%;
  }

  .column-3 {
    width: 95%;
  }

  .column-2 {
    width: 95%;
  }

  .column-1 {
    width: 95%;
  }

  .header-logo > img {
    height: 2rem;
  }

  .header-menu-list-item a {
    padding: 0rem 0.5rem;
    font-size: 1.25rem;
  }

  p.lead-text {
    width: 80%;
  }
}

/* desktop */
@media only screen and (min-width: 980px) {
  .layout-controller {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
      "header header header header"
      "component-menu-desktop content content content"
      "footer footer footer footer";
  }

  .header-menu {
    /* display: block; */
    color: inherit;
  }

  .component-menu-button-mobile {
    display: none;
  }

  .component-menu-mobile {
    display: none;
  }

  .column-5 {
    width: 95%;
  }

  .column-4 {
    width: 75%;
  }

  .column-3 {
    width: 60%;
  }

  .column-2 {
    width: 35%;
  }

  .column-1 {
    width: 20%;
  }

  p.lead-text {
    width: 90%;
  }
}
